<mat-toolbar color="primary" class="docs-navbar-header">
  <nav>
    <button mat-button routerLink="">Oshop</button>
    <button mat-button routerLink="shopping-cart">Shopping cart</button>

    <button *ngIf="user; else anonymousUser" mat-button [matMenuTriggerFor]="menu">{{user.name}}</button>
    <ng-template #anonymousUser>
      <button mat-button routerLink="login">Login</button>
    </ng-template>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/my/order">My Orders</button>
      <ng-template [ngIf]="user && user.isAdmin">
        <button mat-menu-item routerLink="/admin/orders">Manage Orders</button>
        <button mat-menu-item routerLink="/admin/products">Manage Products</button>
      </ng-template>
      <button mat-menu-item (click)="logout()">Log out</button>
    </mat-menu>

  </nav>
</mat-toolbar>
