.product-form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &--card {
    margin: 0 20px;
  }
}

form {
  width: 100%;
}

.card-wrapper {
  max-width: 500px;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .product-form {
    grid-template-columns: 1fr;

    &--card {
      margin: 20px 0;
    }

  }
}
