<form [formGroup]="orderForm" (ngSubmit)="sendForm()">
  <mat-form-field class="full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" [errorStateMatcher]="matcher"
           placeholder="Morty">
    <mat-error *ngIf="!name.errors?.required">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Address</mat-label>
    <input matInput formControlName="line1" [errorStateMatcher]="matcher"
           placeholder="st. Pushkina">
    <mat-error *ngIf="!line1.errors?.required">
      Address is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput formControlName="line2" [errorStateMatcher]="matcher"
           placeholder="h. 21, Ap. 221">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>City</mat-label>
    <input matInput formControlName="city" [errorStateMatcher]="matcher"
           placeholder="Houston">
    <mat-error *ngIf="!city.errors?.required">
      City is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button [disabled]="!orderForm.valid" mat-raised-button color="accent">Save</button>
</form>
