:host {
  display: flex;
  align-items: center;
  flex-direction: column;
}

table {
  width: 80%;
}

.mat-column-title, .mat-column-quantity, .mat-column-price, .mat-column-image {
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-image {
  flex: 0 0 15% !important;
  width: 15% !important;
  padding: 10px !important;
}

.mat-column-title {
  flex: 0 0 30% !important;
  width: 30% !important;
}

.mat-column-quantity {
  padding: 0 5%;
  flex: 0 0 25% !important;
  width: 25% !important;
  text-align: center;
}

.mat-column-price {
  flex: 0 0 25% !important;
  width: 25% !important;
  text-align: right;
}

.control-panel {
  width: 80%;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  button{
    margin-right: 10px;
  }
}

.thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
}
