:host {
  display: grid;
  grid-template-columns: 20% 80%;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-card {
  margin: 15px;
}

//.product-card{
//  max-width: 300px;
//}
