<div class="categories">
  <mat-selection-list #categories (click)="categoriesChange(categories)">
    <mat-list-option *ngFor="let c of categories$ | async" [value]="c.$key">
      {{c.name}}
    </mat-list-option>
  </mat-selection-list>
</div>
<div class="products">
  <div class="product-card" *ngFor="let p of filterProducts">
    <mat-card>
      <mat-card-header>
        <mat-card-title><h2 class="mat-h2">{{p.title}}</h2></mat-card-title>
        <mat-card-subtitle>{{p.category}}</mat-card-subtitle>
      </mat-card-header>
      <div class="card-image-wrapper">
        <img mat-card-image src="{{p.imageUrl}}" alt="{{p.title}}">
      </div>
      <mat-card-content>
        <p class="mat-subheading-2">
          {{p.price | currency: 'USD': true}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Add to card</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

