@import "~@angular/material/theming";

@include mat-core();

$dark-primary: mat-palette($mat-deep-purple, 600);
$dark-accent: mat-palette($mat-pink);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent,);

.dark-theme {
  $foreground: map-get($dark-theme, foreground);
  $text: map-get($foreground, text);
  color: $text;
  height: 100%;
  @include angular-material-theme($dark-theme);
}

.dark-background {
  $dark-background: map-get($dark-theme, background);
  $dark-background-color: map-get($dark-background, background);
  background: $dark-background-color;
}

$light-primary: mat-palette($mat-yellow, 600);
$light-accent: mat-palette($mat-gray, 200);

$light-theme: mat-light-theme($light-primary, $light-accent);

.light-theme {
  $foreground: map-get($light-theme, foreground);
  $text: map-get($foreground, text);
  color: $text;
  height: 100%;
  @include angular-material-theme($light-theme);
}

.light-background{
  $light-background: map-get($light-theme, background);
  $light-background-color: map-get($light-background, background);
  background: $light-background-color;
}
